@page "/"

<PageTitle>INDEX</PageTitle>

<div class="bg-slate-900">
    <p class="p-2 text-blue-400 text-8xl">Blazor and TailwindsCSS</p>
    <p class="text-6xl text-center text-violet-300">Hello from TailwindCSS Cli</p>
</div>
<div>
    <p class="p-1 text-xl text-blue-950">
        npx tailwindcss -i ./Styles/tailwind.css -o ./wwwroot/css/tailwind.css --watch
    </p>
</div>